<h2><i class="fa-solid fa-carrot"></i> Foods</h2>
<a href="<%= route[:new_food] %>">New food</a>
<hr/>
<input type="text" id="search" onkeyup="search('foods', 'div', 'span')" placeholder="Buscar...">

<div id="foods" class="margin-top-g">
  <% @view.foods.each do |food| %>
    <div class="padding-p card">
      <span><%= food.name %></span>
      <a href="<%= route[:food].sub(':id', food.id.to_s) %>">Show food</a>
    </div>
  <% end %>
</div>
